# Configuration values used by idsep, opsep, read_datasets, and
# derive_background.

[fetchsep]
datapath = './data'
outpath = './CLEAR/output'
plotpath = './CLEAR/plots'
listpath = './lists'

# bad data points in flux time series will be set to this value; must be negative
#
badval = -1


# factor multiplied by flux threshold to determine end of event; SET
# AS 1 to get same event end definition as SWPC. DO NOT CHANGE FROM
# 1.0 UNLESS YOU ARE SURE YOU WANT TO USE DIFFERENT THRESHOLDS TO
# DETERMINE THE START AND END OF AN EVENT.
#
endfac = 1.


# Alternative value to None to indicate value not present
#
errval = "Value Not Found"


# Description of all possible bad values that may be found in the data
# sets that could be read into this code.  For example, so data sets
# may use -999 to fill in a missing or bad value. Some may use
# 1.000000e+31.  All bad values will be set to None or -1 in the code.
#
all_badval = [-999, -1, 1.000000e+31,"NaN", "nan", "n/a", 9.999999e+06,-707, 9.999E+003, 9.999000e+05, -1.0e+31, -9.9900e+02, -100000.0, -1.00e5, -5.55555547e+28, None]


# TIME SHIFT APPLIED TO ENTIRE TIME SERIES (in hours). Positive shifts
# times later, negative shifts earlier.  WILL SHIFT TIMES IN
# USER-INPUT FILES IF NON-ZERO!
#
time_shift = 0.


# UNITS
# Set the units associated with your data
# Make sure that fluence units = flux units*s*sr
# If your data set is in units other than pfu or
# MeV^-1*cm^-2*s^-1*sr^-1, the two operational thresholds
# will not be equivalent to >10 MeV, 10 pfu and >100 MeV, 1 pfu
#
# --energy
energy_units = "MeV"

# --integral flux (pfu = cm^-2*s^-1*sr^-1)
flux_units_integral = "pfu"
fluence_units_integral = "cm^-2"

# --differential flux
flux_units_differential = "MeV^-1*cm^-2*s^-1*sr^-1"
fluence_units_differential = "MeV^-1*cm^-2"



###############################################################
###### CONFIGURATION VARIABLES FOR USER TIME SERIES FILES #####
###############################################################
[user_tseries]
# Set these variables when running fetchsep with "user" as the experiment.

# DELIMETER between columns (any string).  For whitespace separating
# columns, use "" or " ".
#
user_delim = ""


# COLUMNS containing the fluxes you want to analyze.  Require the
# first (0th) column contains date in YYYY-MM-DD HH:MM:SS format OR in
# unixtime, so flux columns start at 1 or more.
#
user_col = []


# Set to [] if no uncertainties.  err_col only used by idsep.
#
err_col = []


# ENERGY BINS associated with user file and columns specified above
# as:
# [[Elow1,Ehigh1],[Elow2,Ehigh2],[Elow3,Ehigh3],etc]
# Use -1 in the second edge of the bin to specify integral channel:
# [[Elow1,-1],[Elow2,-1],[Elow3,-1],etc]
#
user_energy_bins = []



#######################################################
############## IDSEP CONFIGURATION VARIABLES ##########
#######################################################
[idsep]

# Set these variables to automatically identify SEP events
# in long time series using the idsep code.

# BACKGROUND SUBTRACTION
# Derive_background.py calculates the mean background plus an expected
# level of variation (sigma).  SEP flux is flux > mean + nsigma*sigma.
# Background flux is flux <= mean + nsigma*sigma. The value of nsigma
# affects how the event onset is captured because it determines the
# flux level that is considered background at the beginning of the
# event.
#
idsep_nsigma = 3


# Days to average initial estimate of threshold
#
init_win = 150


# Days in sliding window to calculate final threshold
#
sliding_win = 5


# Percent of points that must be in the sliding window to calculate
# the background; otherwise use previous good value.
# Suggest to choose a value that corresponds to ~2 - 4 days.
#
percent_points = 0.4


#When calculating the background in idsep, some time periods may have very
#non-Gaussian flux distributions. This may cause problems with the
#background calculation. A cut may be applied on kurtosis of the
#histogrammed flux distributions to exclude the data from the background
#calculation. This is left as a configurable parameter as different
#data sets may result in different numerical values of kurtosis.
#Kurtosis values are saved with time in output/idsep/csv/kurtosis*.csv
#
#A value greater than this cut is bad. If no cut is desired, set
#this variable to a very large value.
#
#DEFAULT VALUE STORED HERE.
#!!!!SPACECRAFT-SPECIFIC VALUES ARE BELOW WHICH WILL OVERRIDE THIS
#DEFAULT VALUE IF RUNNING FETCHSEP FOR THAT SPACECRAFT.
#
kurtosis_cut = 65



#######################################################
#### fetchsep_prepare_obs CONFIGURATION VARIABLES #####
#######################################################
[prepare_obs]
#SEP Times file output by idsep derived for this energy bin will be used
#to define the start and end times fed into OpSEP when running
#fetchsep_prepare_obs
#
ref_energy_bin = [10.0, -1]



#######################################################
############## OPSEP CONFIGURATION VARIABLES ##########
#######################################################
[opsep]

# Set these variables for the analysis of a single event using the
# opsep code.

# FOR BACKGROUND SUBTRACTION - IF USED
# Derive_background.py calculates the mean background plus an expected
# level of variation (sigma).  SEP flux is flux > mean + nsigma*sigma.
# Background flux is flux <= mean + nsigma*sigma.  The value of nsigma
# affects how the event onset is captured because it determines the
# flux level that is considered background at the beginning of the
# event.
#
opsep_nsigma = 3.0


# FOR IDENTIFICATION OF SEP ONSET ABOVE BACKGROUND - IF USED
# The user may choose to identify when the SEP first rises and
# then returns to background levels. This is possible when 
# choosing the --OpSEPSubtractBG, --IDSEPSubtractBG
# or --use_idsep_thresholds options. The opsep_min_threshold
# indicates the threshold value that will be applied. It should
# be very small as all points identified as background will be 
# set to zero and only points above mean+nsigma*sigma will remain.
#
opsep_min_threshold = 1e-6



#######################################################
############## EXPERIMENT-SPECIFIC VALUES #############
#######################################################
#Users may add experiment-specific values for any of the above variables.
#The experiment sections must be labeled using exactly the same
#strings used to call an experiment in fetchsep, e.g.:
# --Experiment STEREO-A
#could have a section in the config labeled [experiment.STEREO-A]

#A cut may be applied on kurtosis of the histogrammed flux distributions
#to exclude the data from the mean background calculation.
#A kurtosis value >= kurtosis_cut is excluded.
#Set to a very high value if don't want kurtosis to be considered.
#Specific values can be set for each spacecraft if good values are found.
#65 works well for GOES primary integral and differential fluxes, except GOES-07
#50 worked for GOES-07

[experiment.GOES-06]
kurtosis_cut = 65

[experiment.GOES-07]
kurtosis_cut = 50

[experiment.GOES-08]
kurtosis_cut = 65

[experiment.GOES-09]
kurtosis_cut = 65

[experiment.GOES-10]
kurtosis_cut = 65

[experiment.GOES-11]
kurtosis_cut = 65

[experiment.GOES-12]
kurtosis_cut = 65

[experiment.GOES-13]
kurtosis_cut = 65

[experiment.GOES-14]
kurtosis_cut = 65

[experiment.GOES-15]
kurtosis_cut = 65

[experiment.GOES-16]
kurtosis_cut = 65

[experiment.GOES-17]
kurtosis_cut = 65

[experiment.GOES-18]
kurtosis_cut = 65

[experiment.GOES-19]
kurtosis_cut = 65

[experiment.GOES_RT]
kurtosis_cut = 65
